<ul>
    <li>
        <ul class="contacts-header">
            <li class="width-10">کد الطلب</li>
            <li class="width-15">مقدّم الطلب</li>
            <li class="width-10">المبلغ</li>
            <li class="width-10">العملة</li>
            <li class="width-10">العمولة</li>
            <li class="width-10">
              عمولة الموزع
            </li>
            <li class="width-15">المستلم</li>
            <li class="width-10">التاریخ</li>
            <li class="width-10">الحالة</li>
            <li class="width-10">الإجرائات</li>
        </ul>
    </li>
    <li class="scrollbar">
    <div
            v-for='(remittance,index) in remittanceList' class="items">
        <RemittanceListItem
                :index="index"
                v-bind:remittance='remittance'
                :onDeliveredSelectedMethod='onDeliveredSelectedMethod'
                :onReverseSelectedMethod='onReverseSelectedMethod'
        />
    </div>
    </li>
    <!-- <li>
        <button type="button">
            <span class="show-more">
                <span>                شاهد المزید</span>
            </span>
        </button>
    </li> -->
</ul>
