<div class="">
  <h1>Add Wage Modal</h1>
  <div id='applicantDiv'>
    <label for="applicantFirstname">Company</label>
    <CoWorkerSelect
      :onCoWorkerSelectedMethod = 'setCoWorkerCompany'
    />
    <label for="applicantLastname">Currency</label>
    <CurrencySelect
      :onCurrencySelectedMethod = 'setCurrency'
    />
    <label for="txtWageMinPrice">Min Price:</label>
    <input
      id = 'txtWageMinPrice'
      type="number"
      v-model = 'wage.minPrice'
    >
    <label for="txtWageMaxPrice">Max Price:</label>
    <input
      id = 'txtWageMaxPrice'
      type="number"
      v-model = 'wage.maxPrice'
    >
    <label for="txtWagePrice">Price:</label>
    <input
      id = 'txtWagePrice'
      type="number"
      v-model = 'wage.price'
    >
    <button
      type="button"
      @click = 'save()'
    >Save</button>
  </div>
</div>
