@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/vazir/Vazir-Medium-FD.eot');
    src: url('../fonts/vazir/Vazir-Medium-FD.eot') format('embedded-opentype'),
        /* IE6-8 */ url('../fonts/vazir/Vazir-Medium-FD.woff2') format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/ url('../fonts/vazir/Vazir-Medium-FD.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/vazir/Vazir-Medium-FD.ttf') format('truetype');
}


body, button, input, select, ul {
    font-family: Vazir !important;
}

button:focus {
    outline: none;
}

button {
    cursor: pointer
}

html,body {
    position: relative;
    height: 100%;
}

body {
    background-color: #fbfbfd;
    margin: 0;
}
